
Universities.xcodeproj/xcuserdata/bugra.balci.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Universities.xcodeproj/project.xcworkspace/xcuserdata/bugra.balci.xcuserdatad/UserInterfaceState.xcuserstate
Universities.xcodeproj/project.xcworkspace/xcuserdata/bugra.balci.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
